{{!-- edit post form --}}
<div class="container  mt-3">
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">

        <div class="col">
            <div class="card border-dark mb-3" style="max-width: 27rem;">
                <div class="card-header formBtn">
                    <h4 class="card-title text-white">Edit Gear</h4>
                </div>
                <div class="card-body bg-light ">

                    <form id="editGearForm" data-gear_id="{{gear.id}}">

                        <div class="mb-3">
                            <label for="editGearName" class="form-label text-white">Title</label>
                            <input type="text" class="form-control" id="editGearName" value="{{gear.name}}">
                        </div>

                        <div class="mb-3">
                            <label for="editGearDescription" class="form-label text-white">Description</label>
                            <textarea class="form-control" id="editGearDescription"
                                rows="3">{{gear.description}}</textarea>
                        </div>

                        <select class="form-select mb-3" aria-label="Select Category" id="selectCategory">
                            {{#each categories as |category|}}
                            <option value="{{category.id}}">{{category.category}}</option>
                            {{/each}}
                        </select>

                        <button class="w-100 btn btn-lg mb-1 formBtn" type="submit">Save</button>
                    </form>

                    <button class="w-100 btn btn-lg formBtn" type="click" id="deleteGearBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/editGear.js"></script>