{{!-- add gear button --}}
<!-- Click on Modal Button -->
<button type="button" class="btn mx-auto d-block mt-5" id="addgearbtn" data-bs-toggle="modal"
    data-bs-target="#addGearForm">
    Add Gear
</button>

<!-- Modal -->
<div class="modal fade" id="addGearForm" tabindex="-1" aria-labelledby="addGearModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addGearModal">Add Gear Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="addGearSubmit">
                    <div class="mb-3">
                        <label class="form-label">Gear Name:</label>
                        <input type="text" class="form-control" id="gearName" name="gearName" placeholder="Name" />
                    </div>

                    <div class="mb-3">
                        <label for="gearDescription" class="form-label text-white">Description</label>
                        <textarea class="form-control" id="gearDescription" rows="3">Description</textarea>
                    </div>

                    <select class="form-select mb-3" aria-label="Select Category" id="selectCategory">
                        {{#each categories as |category|}}
                        <option value="{{category.id}}">{{category.category}}</option>
                        {{/each}}
                    </select>

                    <button type="submit" class="btn btn-primary float-end">Add</button>
                </form>
            </div>

        </div>
    </div>
</div>

{{!-- my gear container --}}
<h2 class="heading m-2">My Gear</h2>
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">

        {{!-- gear card template --}}
        {{#each gear as |item|}}
        <div class="col">

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <h5 class="card-header"> <img class="card-icon" src={{icon_display item.category_id}} alt="icon" width="32" height="32">{{item.gear_name}}</h5>
                <div class="card-body">
                    <p class="card-text">{{item.gear_description}}</p>
                    {{#if item.borrower_name}}<p class="card-text">Borrowed by: {{item.borrower_name}}</p>{{/if}}
                    {{#if item.borrow_date}}<p class="card-text">Borrowed on: {{format_date item.borrow_date}}</p>
                    <p class="card-text">Due date: {{return_date item.borrow_date}}</p>{{/if}}
                    <a href="/api/gear/update/{{item.gear_id}}"><button id="editBtn" type="button"
                            class="btn btn-outline-secondary">Edit</button></a>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>

<br>

{{!-- Borrowed Gear --}}
<h2 class="heading m-2">Borrowed Items</h2>
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">

        {{#each borrowedGear as |gear|}}
        <div class="col">

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <h5 class="card-header">{{gear.gear_name}}</h5>
                <div class="card-body">
                    <p class="card-text">{{gear.description}}</p>
                    <p class="card-text">Due date: {{return_date gear.borrow_date}}</p>
                    <p class="card-text">Owner: {{gear.owner_name}}</p>
                    <a href="/api/borrow/return/{{gear.gear_id}}"><button type="button" class="btn btn-secondary">Return
                            Item</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/gear.js"></script>